<div class="container text-center">
<h1>Cocktail</h1>

<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
 <hr>
 <p>Ingredients</p>
 <p><%= dose.ingredient.name %> : <%= dose.description %></p>
 <% end %>


<%= link_to 'Modify', edit_cocktail_path, class: "btn btn-primary"  %>
<%= link_to 'Back to home', cocktails_path, class: "btn btn-primary"  %>



